<vector xmlns:android="http://schemas.android.com/apk/res/android"
    android:width="16dp"
    android:height="16dp"
    android:viewportWidth="16"
    android:viewportHeight="16">
    <path
        android:fillColor="#00000000"
        android:pathData="M8,11.333V14"
        android:strokeWidth="2"
        android:strokeColor="#000000"
        android:strokeLineCap="round"
        android:strokeLineJoin="round" />
    <path
        android:fillColor="#00000000"
        android:pathData="M10.133,3.267L9.533,3"
        android:strokeWidth="2"
        android:strokeColor="#000000"
        android:strokeLineCap="round"
        android:strokeLineJoin="round" />
    <path
        android:fillColor="#00000000"
        android:pathData="M10.133,4.733L9.533,5"
        android:strokeWidth="2"
        android:strokeColor="#000000"
        android:strokeLineCap="round"
        android:strokeLineJoin="round" />
    <path
        android:fillColor="#00000000"
        android:pathData="M11.267,2.133L11,1.533"
        android:strokeWidth="2"
        android:strokeColor="#000000"
        android:strokeLineCap="round"
        android:strokeLineJoin="round" />
    <path
        android:fillColor="#00000000"
        android:pathData="M11.267,5.867L11,6.467"
        android:strokeWidth="2"
        android:strokeColor="#000000"
        android:strokeLineCap="round"
        android:strokeLineJoin="round" />
    <path
        android:fillColor="#00000000"
        android:pathData="M13,1.533L12.733,2.133"
        android:strokeWidth="2"
        android:strokeColor="#000000"
        android:strokeLineCap="round"
        android:strokeLineJoin="round" />
    <path
        android:fillColor="#00000000"
        android:pathData="M13,6.467L12.733,5.867"
        android:strokeWidth="2"
        android:strokeColor="#000000"
        android:strokeLineCap="round"
        android:strokeLineJoin="round" />
    <path
        android:fillColor="#00000000"
        android:pathData="M14.467,3L13.867,3.267"
        android:strokeWidth="2"
        android:strokeColor="#000000"
        android:strokeLineCap="round"
        android:strokeLineJoin="round" />
    <path
        android:fillColor="#00000000"
        android:pathData="M14.467,5L13.867,4.733"
        android:strokeWidth="2"
        android:strokeColor="#000000"
        android:strokeLineCap="round"
        android:strokeLineJoin="round" />
    <path
        android:fillColor="#00000000"
        android:pathData="M14.667,8.667V10C14.667,10.354 14.526,10.693 14.276,10.943C14.026,11.193 13.687,11.333 13.333,11.333H2.667C2.313,11.333 1.974,11.193 1.724,10.943C1.474,10.693 1.333,10.354 1.333,10V3.333C1.333,2.98 1.474,2.641 1.724,2.391C1.974,2.14 2.313,2 2.667,2H7.333"
        android:strokeWidth="2"
        android:strokeColor="#000000"
        android:strokeLineCap="round"
        android:strokeLineJoin="round" />
    <path
        android:fillColor="#00000000"
        android:pathData="M5.333,14H10.667"
        android:strokeWidth="2"
        android:strokeColor="#000000"
        android:strokeLineCap="round"
        android:strokeLineJoin="round" />
    <path
        android:fillColor="#00000000"
        android:pathData="M12,6C13.105,6 14,5.105 14,4C14,2.895 13.105,2 12,2C10.895,2 10,2.895 10,4C10,5.105 10.895,6 12,6Z"
        android:strokeWidth="2"
        android:strokeColor="#000000"
        android:strokeLineCap="round"
        android:strokeLineJoin="round" />
</vector>
